$estilos:(
    cursiva:italic,
    letra1:Georgia,
    letra2:Arial,
    centrar:justify,
    tamaño1:3rem,
);

h1{
    font-style: oblique; font-size: 100px; color: darkslategrey; text-align:center     
}
h3{
    font-style: normal; color:black;
}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: rgb(0, 0, 0);
}

.vivo{
    margin-left: 25px;
    margin-right: 25px;
    list-style-type:none ;
}
    
.enlace{
    display: flex;
    flex-direction: column;
}
.colorcito{
    font-size: 23px;
    text-align: center;
    transform: translate(0,20px)

}
.columnaHeader{
    display: flex;
    flex-direction: column;
}

.titulin{
    @extend .noti1; ;
    margin-top: 15px;
    margin-bottom: 50px;
    
}
.articulo{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 20px;
    font-family: map-get($map: $estilos, $key:letra1);
}
.articulo--titulo{
    padding-top: 10px;
    font-family: map-get($map: $estilos, $key:letra2);
    font-size: map-get($map: $estilos, $key:tamaño1) ;
}

.animate__animated.animate__rubberBand {
    --animate-duration: 2s;
    --animate-delay: 0.9s;
  }


.estiloLista{
    line-height: 20px;
    list-style-type: square;
}
.noti2{
    width: 250px;
    @extend .noti1;
}
.cosas{
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

img{
    display:block;
    margin:auto;
    border-style: dotted;
    }

.header{
    
    display: flex;
    flex-direction: row;
}
.noti3{
    @extend .noti1;
}
.col-md-6{
    background-color: white;
}
.col-md-12{
    background-color:whitesmoke;
}
    
@media screen and (max-width: 950px){
       
        
    .header{
        display: flex;
        flex-direction: column;
    }
    .colorcito{
    font-size: 23px;
    text-align: center;
    display: none;}
}